page-simon {

}
#container{
    text-align: center;
}
.myGrid{
    display: grid;
    grid-gap: 10px;
    padding: 0px;
    height: 230px;
    width: 223px;
    margin: auto;
}

.item1{
    grid-column: 1;
    grid-row: 1;
    height: 100px;
    width: 100px;
}

.item2{
    grid-column: 2;
    grid-row: 1;
    height: 100px;
    width: 100px;
}

.item3{
    grid-column: 1;
    grid-row: 2;
    height: 100px;
    width: 100px;
}

.item4{
    grid-column: 2;
    grid-row: 2;
    height: 100px;
    width: 100px;
}

.invisible{
    display: none;
}

.circle {
    width: 45px;
    height: 45px;
    margin : auto;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    display:inline-block;
}

#sequenceContainer {
    width: 300px;
    height: 50px;
    margin: auto;
    padding-top: 1.5px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgb(241, 241, 241);
}

.blue{
    background: #488aff;
}
.red{
    background: #f53d3d;
}
.green{
    background: #32db64
}
.yellow{
    background: yellow;
}

